<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="{{ path '/css/main.css' }}">
    <title>Preview Layout</title>
</head>
<body class="t-btn--green">
  <div class="o-main o-container">
    {{{ yield }}}
  </div>

<select>
  <option value="green">green</option>
</select>
</body>
</html>