<form class="c-panel c-panel--light">
  <p>Maybe add a light panel, entirely optional</p>
  {{render "@formfield" field1 merge=true }}
  {{render "@formfield" field2 merge=true}}
  {{render "@formfield" field3 merge=true}}
  {{render "@button" button merge=true}}
</form>
