@use "sass:math";
$grid-width: 72rem !default;
$grid-gutter: 2rem !default;
$grid-columns: 12 !default;
$page-gutter: 1rem !default;

@mixin container {
  max-width: $grid-width;
  position: relative;
  margin-left: $page-gutter * 0.5;
  margin-right: $page-gutter * 0.5;

  @include media(">=#{$grid-width + $page-gutter * 2}") {
    margin-left: auto;
    margin-right: auto;
  }

  padding-left: $page-gutter * 0.5;
  padding-right: $page-gutter * 0.5;
}

.o-container {
  @include clearfix;
  @include container;
}

.o-flex-container {
  @include container;
  display: flex;
}

.o-grid {
  display: flex;
  margin-left: $grid-gutter * -0.5;
  margin-right: $grid-gutter * -0.5;
  flex-direction: column;

  @include media(">=small") {
    flex-flow: row wrap;

    &--reverse {
      flex-direction: row-reverse;
    }

    @for $i from 2 through 6 {
      &--#{$i}-col &__item {
        width: math.div(100%, $i);
      }

      &--medium-#{$i}-col &__item {
        width: math.div(100%, $i);
      }
    }
  }

  @include media(">=small", "<=medium") {
    @for $i from 2 through 6 {
      &--medium-#{$i}-col &__item {
        width: math.div(100%, $i);
      }
    }
  }

  &__item {
    @include clearfix;
    width: 100%;
    padding-left: $grid-gutter * 0.5;
    padding-right: $grid-gutter * 0.5;
    margin-bottom: $grid-gutter * 0.5;

    @include media(">=medium") {
      margin-bottom: $grid-gutter;
    }
  }

  @include media(">=medium") {
    &__sidebar {
      width: calc(100% / 3);
    }

    &__article {
      width: calc(2 * 100% / 3);
    }
  }

  &__filters {
    @include media(">=small") {
      width: calc(100% / 3);
    }
  }

  &__results {
    @include media(">=small") {
      width: calc(2 * 100% / 3);
    }
  }
}