// <main> page content styles.
.o-main {
  padding-top: clamp-between(1rem, 2rem);
  padding-bottom: clamp-between(1rem, 2rem);

  & &__standfirst {
    padding-top: clamp-between(1rem, 2rem);
    padding-bottom: clamp-between(0.25rem, 0.75rem);
    @include type-p1;

    #{$text-elements} {
      @include type-p1;
    }

    & > *:last-child {
      margin-bottom: 0;
    }

    & > *:first-child {
      margin-top: 0;
    }
  }

  &__h2 {
    @include type-h2;
    margin: 2em 0 1em 0;
  }
}