// override defaults from plyr/src/sass/
$plyr-color-main: $c-teal;

$plyr-control-radius: 0;

$plyr-audio-controls-bg: grey(80);
$plyr-audio-control-color: grey(30);
$plyr-audio-control-color-hover: white;
$plyr-audio-control-bg-hover: inherit;
$plyr-control-padding: 8px;

$plyr-font-family: $base-font-family;

$plyr-range-track-height: 4px;
$plyr-range-thumb-height: 16px;

@import "plyr/src/sass/plyr.scss";

.plyr--audio .plyr__controls {
  padding: 0;
}

.plyr--full-ui input[type="range"] {
  border-radius: 0;
  &::-webkit-slider-runnable-track {
    border-radius: 0;
  }
  &::-moz-range-track {
    border-radius: 0;
  }
  &::-ms-track {
    border-radius: 0;
  }
  &::-ms-fill-upper {
    border-radius: 0;
  }
  &::-ms-fill-lower {
    border-radius: 0;
  }
}

.c-audioplayer {
  background-color: grey(80);
  color: white;
  @include media(">small") {
    display: flex;
    // float: none;
  }
  display: flex;

  &__main {
    width: 100%;
    @include between(padding, 1rem, 2rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__thumb {
    // float: left;
    // @include media(">small") {
    //   float: none;
    // }
    background-color: grey(90);
    flex-shrink: 0;
    width: 20%;
    // @include media(">small") {
    //   flex-basis: 25%;
    // }
    // @include media(">=large") {
    //   flex-basis: 25%;
    // }
    img {
      object-fit: cover;
      font-family: "object-fit: cover;";
    }
  }
  &__button {
    @include responsive-embed(square);
    // reset button
    display: block;
    width: 100%;
    background-color: inherit;
    @include sm-gradient($c-teal $c-blue $c-purple);
    cursor: pointer;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: 64px;
      background-position: center center;
    }

    &:hover,
    &:focus {
      img {
        // opacity: 0.75;
      }
      &:after {
        background-image: svg-uri(
          '<svg xmlns="http://www.w3.org/2000/svg" width="64" height="64"><g fill="none" stroke="#fff"><path d="M.5.5h63v63H.5z"/><path d="M48.212 32L20.5 48V16z"/></g></svg>'
        );
        background-color: rgba(black, 0.25);
      }
      .c-audioplayer--playing &:after {
        background-image: svg-uri(
          '<svg height="64" width="64" xmlns="http://www.w3.org/2000/svg"><g fill="none" stroke="#fff"><path d="M.5.5h63v63H.5z"/><path d="m24 16v32"/><path d="m40 16v32"/></g></svg>'
        );
      }
    }
  }

  &__title {
    @include type-h2($case: null);
    margin-top: 0;
    margin-bottom: 0;
  }

  &__description {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  audio {
    display: block;
    width: 100%;
  }
}
