// Button component
//
//
/// basic button styles, may be applied to other (wordpress) elements too
@mixin btn(
  $base-selector: ".c-btn",
  $padding-x: 1em,
  $padding-y: 0.75em,
  $font-size: false,
  $font-size-min: 1rem,
  $font-size-max: 1.5rem,
  $theme: false
) {
  @if $font-size {
    font-size: $font-size;
  } @else {
    @include between(font-size, $font-size-min, $font-size-max);
  }

  @if (index(map_keys($palettes), $theme)) {
    /* yes */
    color: palette($theme, text);
    background-color: palette($theme);
    &:hover,
    &:focus {
      background-color: palette($theme, dark);
    }
  } @else if type-of($theme) == color {
    background-color: $theme;
    color: contrasting-text-color($theme);
  } @else {
    color: white; //default
    background-color: grey(80); //default
  }

  padding-top: $padding-y;
  padding-bottom: $padding-y;
  padding-left: $padding-x;
  padding-right: $padding-x;

  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  display: inline-block;
  line-height: 1;
  border: 0; // may be applied to inputs
  transition: background-color $transition-default;

  @each $theme, $props in $palettes {
    .t-btn--#{$theme} &,
    &#{&}--#{$theme} {
      background-color: map-get($props, base);
      color: map-get($props, text);

      &:hover,
      &:focus {
        background-color: map-get($props, dark);
      }
    }
  }
}

@mixin button(
  $base-selector: ".c-btn",
  $padding-x: 1em,
  $padding-y: 0.75em,
  $font-size: false,
  $font-size-min: 1rem,
  $font-size-max: 1.5rem,
  $theme: false
) {
  #{$base-selector} {
    @include btn(
      $base-selector,
      $padding-x,
      $padding-y,
      $font-size,
      $font-size-min,
      $font-size-max,
      $theme
    );

    &--primary {
      padding-right: 2.5em;

      &:after {
        content: "";
        // TODO: match  fill/stroke color to theme color
        background-image: svg-uri(
          '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke-width="3" stroke="#fff"><path d="M21 12H4m11-6l6 6-6 6"/></g></svg>'
        );
        background-repeat: no-repeat;
        position: absolute;
        right: 1em;
        width: 1em;
        height: 1em;
        background-size: 100%;
        top: 50%;
        transform: translateY(-50%);
        transition: right $transition-default;
      }

      &:hover,
      &:focus {
        &:after {
          right: 0.75em;
        }
      }
    }

    // Variation:
    // -disabled
    // Grey background and not clickable - when the event is sold out

    &--disabled {
      pointer-events: none;
      background-color: grey(50) !important;

      &:after {
        content: none;
      }

      &:hover,
      &:focus {
        background-color: grey(50) !important;
      }
    }
  }
}
