@mixin cardhover($bg: black, $o: 0.05) {
  $timing-defaults: 0.25s ease-out;
  transition: background-color $timing-defaults, transform $timing-defaults;

  &:before {
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: all $timing-defaults;
    position: absolute;
    z-index: 0;
  }

  &:hover {
    &:before {
      background-color: rgba($bg, $o);
      top: -1rem;
      bottom: -1rem;
      right: -1rem;
      left: -1rem;
    }

    .c-card__img img {
      transform: scale3d(1.05, 1.05, 1);
    }
  }

  &__img img {
    transition: transform $timing-defaults;
  }
}

.c-card {
  position: relative;
  height: 100%;
  @include cardhover();
  display: block;

  > a {
    display: block;
    height: 100%;
  }

  a {
    text-decoration: none;
    color: currentColor;
    &:hover {
      text-decoration: underline;
    }
  }

  &__img {
    //enforce 4/3 ratio on content
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 0;
    padding-top: 75%;
    background: black;

    & > img,
    & > svg {
      position: absolute;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      font-family: "object-fit: cover;";
      //   @include effect-classes;
    }
  }

  &__imgbadges {
    // icons inside _img overlaying main thumb
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(black, 0.75);
    color: white;
    padding: 0.25rem;
    display: flex;
    justify-content: flex-start;
    img {
      position: relative;
      display: block;
      width: 2rem;
      height: 2rem;
      filter: drop-shadow(0 0 4px rgba(black, 0.25));
    }
  }

  &__content {
    position: relative; // make sure above z-indexed elements
  }

  &__title {
    @include type-h2;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__info {
    margin-top: 1rem;
    margin-bottom: 1rem;
    @include type-meta;
  }

  &__desc {
    :last-child {
      margin-bottom: 0;
    }
  }

  &--small &__title {
    @include type-h4;
  }
  &--small p,
  &--small &__info {
    font-size: 1rem;
    margin: 1rem 0;
  }

  @include media(">=small") {
    .o-grid--4-col & #{$text-elements} {
      // override o-main size on small grids
      @include between(font-size, rem(14), rem(18));
    }
  }

  &--panel {
    //dark bg variant : UNUSED?
    background-color: black;
    color: white;
  }

  &--panel &__content {
    padding: 0 1em;
  }

  .o-section & {
    @include cardhover(white, 0.2);
  }
}

.c-card--list {
  // for wide formats, with optional image to left c.f. search results and learning resources.
  display: flex;
  align-items: flex-start;
  height: auto;

  & + & {
    @include between(margin-top, 1rem, 4rem);
  }

  .c-card__img {
    width: 25%;
    flex-shrink: 0;
    margin-right: 2rem;
    padding-top: 0;
    height: auto;
    overflow: visible;

    a {
      display: block;
      padding-top: 75%;
      position: relative;
      overflow: hidden;
    }

    @include media("<small") {
      display: none;
    }
  }

  .c-card__info,
  .c-card__title {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  .c-card__desc {
    :first-child {
      margin-top: 0;
    }
  }

  .c-card__content {
    flex-shrink: 1; // a helping hand for IE10
  }
}
