.c-formfield {

  // background: green;
  &__label {
    display: block;
    @include type-label;
    margin-bottom: 0.6rem;
  }

  &__description {
    margin-top: 0.6rem;
    @include type-label;
  }

  &__error {
    margin-top: 0.6rem;
    @include type-label;
    color: $c-red;
  }

  & + * {
    margin-top: clamp-between(1rem, 2rem);
  }

  .c-choices {
    margin-top: 1rem;
  }
}