.c-logo-panel {
  @include sm-gradient($c-green $c-teal $c-blue);
  @include sm-gradient-animated($layers: 2);
  color: contrasting-text-color($c-teal);
  @include between(padding-top, 1rem, 3rem);
  @include between(padding-bottom, 1rem, 3rem);

  a {
    color: inherit;
  }

  &__title {
    @include type-meta;
    margin: 0;
  }

  &__items {
    @include media(">small") {
      display: flex;
      justify-content: space-between;
      align-items: top;
    }
    @include between(margin-top, 0.5rem, 3rem);
  }

  &__item {
    & + & {
      margin-left: 1rem; // min spacing
    }
  }

  &__text {
    display: block;
    //   margin: 0.4rem 0;

    @include media(">small") {
      display: none;
    }
  }

  img,
  svg {
    display: none;
    @include between(
      height,
      2rem,
      4rem
    ); // but change this if number of logos change
    width: auto;
    max-width: none;

    @include media(">small") {
      display: block;
    }
  }
}
