////
/// Pagination component
/// @group components
////

/// Include SMG-type gradient background.
/// @type List
$logo-panel-gradient: $c-green $c-blue $c-purple !default;

/// Add soft-fade to bg gradient.
/// @type Bool
$logo-panel-gradient-animated: true !default;

/// Set text color.
/// @type Color
$logo-panel-color: white !default;

.c-logo-panel {
  @if ($logo-panel-gradient and type-of($logo-panel-gradient) == "list") {
    @include sm-gradient($logo-panel-gradient);
  }
  @if ($logo-panel-gradient-animated) {
    @if (length($logo-panel-gradient) > 2) {
      @include sm-gradient-animated($layers: 2);
    } @else {
      @include sm-gradient-animated();
    }
  }
  @include between(padding-top, 1rem, 3rem);
  @include between(padding-bottom, 1rem, 3rem);

  a {
    color: $logo-panel-color;
  }

  &__title {
    @include type-meta;
    margin: 0;
    color: $logo-panel-color;
  }

  &__items {
    @include media(">small") {
      display: flex;
      justify-content: space-between;
      align-items: top;
    }
    @include between(margin-top, 0.5rem, 3rem);
  }

  &__item {
    & + & {
      margin-left: 1rem; // min spacing
    }
  }

  &__text {
    @include media(">small") {
      @include for-screen-readers;
    }
  }

  $logo-min-height: 2rem;
  $logo-max-height: 4rem;
  img,
  svg {
    display: none;
    @include between(
      height,
      $logo-min-height,
      $logo-max-height
    ); // but change this if number of logos change
    width: auto;
    max-width: none;

    @include media(">small") {
      display: block;
      padding-right: 1px; // prevents rounding issues in Safari croppping off right
    }
  }

  @each $key, $logo in $logos {
    .c-logo--#{$key} {
      @include between(
        width,
        ($logo-min-height * logo-ratio($key)),
        ($logo-max-height * logo-ratio($key))
      );
    }
  }
}
