.c-masthead {
  background-color: black;
  color: white;

  & > .o-flex-container {
    justify-content: space-between;
  }

  &__logo {
    position: relative;
    z-index: 1; // make clickable above menu
    color: white !important; // IE inheriting href styles, override.

    $logo-min-height: 45px;
    $logo-max-height: 70px;

    img,
    svg {
      display: block;
      width: auto;
      height: clamp-between($logo-min-height, $logo-max-height);
      margin-block: clamp-between(20px, 25px);
    }

    @each $key, $logo in $logos {
      .c-logo--#{$key} {
        width: clamp-between(($logo-min-height * logo-ratio($key)),
            ($logo-max-height * logo-ratio($key)));
      }
    }
  }

  &__right {
    display: flex;
    justify-content: flex-end;
  }
}