/// Include SMG-type gradient background.
/// It might well be the same as $logo-panel-gradient.
/// @type List
$nav-panel-gradient: $c-green $c-blue $c-purple !default;

.c-nav-site {
  background-color: black;
  @include sm-gradient($nav-panel-gradient);
  color: white;
  -webkit-font-smoothing: antialiased; // render reversed text better.
  background-attachment: fixed;

  display: none;
  @include media($menu-width) {
    display: block;
  }

  & > .o-flex-container {
    justify-content: space-between;
  }

  &__title {
    @include type-h2;
    line-height: 1;
    margin: 1rem 0;
  }

  &__right {
    display: flex;
    justify-content: flex-end;
  }
  .c-menu__submenu,
  .c-searchmenu__menuitem--close,
  .c-searchmenu__panel {
    @include sm-gradient($nav-panel-gradient);
    background-attachment: fixed;
  }
}

.c-nav-mobile {
  @include sm-gradient($nav-panel-gradient);
  color: white;
  display: none;

  &[aria-expanded="true"] {
    display: block;
    @include media($menu-width) {
      display: none;
    }
  }
  .c-menu__list {
    padding-top: 0.5rem;
  }
  .c-menu--site {
    @include sm-gradient($nav-panel-gradient);
    font-size: inherit;
  }
}
