.c-nav-site {
  background-color: grey(85);
  color: white;
  -webkit-font-smoothing: antialiased; // render reversed text better.
  background-attachment: fixed;

  display: none;
  @include media($menu-width) {
    display: block;
  }

  & > .o-flex-container {
    justify-content: space-between;
  }

  &__title {
    @include type-h2;
    line-height: 1;
    margin: 1rem 0;
    a {
      text-decoration: none;
      position: relative;
      color: inherit;

      &:before {
        content: "";
        position: absolute;
        height: 3px;
        bottom: 1px;
        background: white;
        left: 0;
        right: 0;
        visibility: hidden;
        transform: scaleX(0);
        transform-origin: 0 center;
        transition: transform 0.3s ease-in-out 0s;
        margin: 0 auto;
      }

      &:hover:before {
        visibility: visible;
        transform: scaleX(1);
      }
    }
  }

  &__right {
    display: flex;
    justify-content: flex-end;
  }
  .c-menu__submenu,
  .c-searchmenu__menuitem--close,
  .c-searchmenu__panel {
    background-color: grey(85);
  }
}

.c-nav-mobile {
  background-color: grey(85);
  color: white;
  display: none;
  position: absolute;
  width: 100%;
  z-index: 1;

  &[aria-expanded="true"] {
    display: block;
    @include media($menu-width) {
      display: none;
    }
  }
  .c-menu__list {
    padding-top: 0.5rem;
  }
  .c-menu--site {
    background-color: grey(85);
    font-size: inherit;
  }
}
