<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <link rel="shortcut icon" href="../../themes/mandelbrot/favicon.ico" type="image/ico">
<style>
    :root {
        
        
        
    }
</style>

<link rel="stylesheet" href="../../themes/mandelbrot/css/black.css?cachebust=1.10.3" type="text/css">

<link rel="stylesheet" href="../../css/fractal.css?cachebust=1.10.3" type="text/css">

<link rel="stylesheet" href="../../themes/mandelbrot/css/highlight.css?cachebust=1.10.3" type="text/css">


<title>Panel: Lighter | Science Museum Group: Web Design System</title>

</head>
<body>



<div class="Frame" id="frame">

    <div class="Frame-header">
        <div class="Header">
    <button class="Header-button Header-navToggle" data-action="toggle-sidebar">
        <div class="Header-navToggleIcon Header-navToggleIcon--open">
            <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4 10.6 12 5 17.6 6.4 19 12 13.4 17.6 19 19 17.6 13.4 12z"/>
</svg>

        </div>
        <div class="Header-navToggleIcon Header-navToggleIcon--closed">
            <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
</svg>

        </div>
    </button>
    <a href="../../index.html" class="Header-title" data-pjax>Science Museum Group: Web Design System</a>
</div>

    </div>

    <div class="Frame-body" data-role="body">

        <div class="Frame-panel Frame-panel--main" data-role="main">
            <div class="Frame-inner" id="pjax-container">
            

<div class="Pen" data-behaviour="pen" id="pen-c62455460b9ba4b312899b2975f499bc">

    

    <div class="Pen-panel Pen-header">
    <h1 class="Pen-title">
        <a class="Pen-previewLink" href="../preview/panel--lighter.html" title="Preview">
            Panel: Lighter
            <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>

        </a>
    </h1>

    <span class="Pen-preview-size" data-role="preview-size"></span>

    

<div class="Status Status--tag">

<label class="Status-label" style="background-color: #29CC29; border-color: #29CC29;">Ready</label>

</div>


</div>


    <div class="Pen-panel Pen-preview Preview" data-behaviour="preview" id="preview-c62455460b9ba4b312899b2975f499bc">
    <div class="Preview-wrapper" data-role="resizer">
        <div class="Preview-resizer">
             <iframe
                class="Preview-iframe"
                data-role="window"
                src="../preview/panel--lighter.html"
                 style=""
                marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" scrolling="yes">
            </iframe>
        </div>
        <div class="Preview-handle" data-role="resize-handle"></div>
        <div class="Preview-overlay"></div>
    </div>
</div>


    <div class="Pen-handle Pen-handle--browser" data-role="resize-handle"></div>

    <div class="Pen-panel Pen-info" data-role="info">
    <div class="Browser" data-behaviour="browser" id="browser-c62455460b9ba4b312899b2975f499bc">

    

<div class="Browser-controls">
    <ul class="Browser-tabs">
        
        
        <li class="Browser-tab Browser-tab--notes is-active " data-role="tab">
            <a href="#browser-c62455460b9ba4b312899b2975f499bc-panel-notes">
                Notes
            </a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--html" data-role="tab">
            <a href="#browser-c62455460b9ba4b312899b2975f499bc-panel-html">
                HTML
            </a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--view" data-role="tab">
            <a href="#browser-c62455460b9ba4b312899b2975f499bc-panel-view">
                View
            </a>
        </li>
        
        
    </ul>
</div>


    
    <div class="Browser-panel Browser-notes" data-role="tab-panel" id="browser-c62455460b9ba4b312899b2975f499bc-panel-notes">
    <div class="Prose Prose--condensed">
        
        <p>Stacked panels get lighter.</p>

        
    </div>
</div>

    
    
<div class="Browser-panel Browser-code is-active" data-role="tab-panel" id="browser-c62455460b9ba4b312899b2975f499bc-panel-html">
    <code class="Code Code--lang-html hljs">
        
        <pre><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;c-panel c-panel--lighter&quot;</span>&gt;</span>
    a subsequent lighter panel
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></pre>
        
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-c62455460b9ba4b312899b2975f499bc-panel-view">
    <code class="Code Code--lang-handlebars hljs">
        <pre><span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;c-panel </span></span></span><span class="hljs-template-variable">{{<span class="hljs-name">class</span>}}</span><span class="xml"><span class="hljs-tag"><span class="hljs-string">&quot;</span>&gt;</span>
  </span><span class="hljs-template-variable">{{{<span class="hljs-name">html</span>}}}</span><span class="xml">
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></span></pre>
    </code>
</div>

    

</div>

</div>


    

</div>


            </div>
        </div>

        <div class="Frame-panel Frame-panel--sidebar" data-role="sidebar">
            

    
    


<nav class="Navigation" data-behaviour="navigation">
    <div class="Navigation-panel Navigation-panel--main" data-role="main-panel">
    
        <div class="Navigation-group Navigation-search">
    <form action="" class="Search" data-behaviour="search">
        <label class="Search-label" for="search-input">Search</label>
        <input class="Search-input" id="search-input" type="search" placeholder="Search…" data-role="input" autocomplete="off">
        <button type="button" data-behaviour="clear-search" class="Search-clearButton" aria-label="Clear search" hidden>
            <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4 10.6 12 5 17.6 6.4 19 12 13.4 17.6 19 19 17.6 13.4 12z"/>
</svg>

        </button>
    </form>
</div>

    
        
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-docs">
    <div class="Tree-header">
        <h3 class="Tree-title">documentation</h3>

        <button type="button" data-behaviour="collapse-tree" class="Tree-collapse" title="Collapse tree" aria-label="Collapse tree" hidden>
            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m9 11c-.6 0-1 .4-1 1s.4 1 1 1h6c.6 0 1-.4 1-1s-.4-1-1-1z"/><path d="m19 21h-14c-1.1 0-2-.9-2-2v-14c0-1.1.9-2 2-2h14c1.1 0 2 .9 2 2v14c0 1.1-.9 2-2 2zm-14-16v14h14v-14z"/></svg>

        </button>
    </div>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="../../index.html"
                data-role="tree-link"
                
                data-pjax
                data-test="index"
                data-handle="index"
            >
                <span>Overview</span>
                
            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="../../docs/getting-started.html"
                data-role="tree-link"
                
                data-pjax
                data-test="getting-started"
                data-handle="getting-started"
            >
                <span>Getting Started</span>
                
            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="../../docs/principles.html"
                data-role="tree-link"
                
                data-pjax
                data-test="principles"
                data-handle="principles"
            >
                <span>Principles</span>
                
            </a>
        </li>
        
    
        
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-docs-collection-colour">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-docs-collection-colour-items">
                    Colour
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-docs-collection-colour-items">
                
                
                
                
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="../../docs/colour/colours.html"
                data-role="tree-link"
                
                data-pjax
                data-test="colours"
                data-handle="colours"
            >
                <span>Colours</span>
                
            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="../../docs/colour/gradients.html"
                data-role="tree-link"
                
                data-pjax
                data-test="gradients"
                data-handle="gradients"
            >
                <span>Gradients</span>
                
            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="../../docs/typography.html"
                data-role="tree-link"
                
                data-pjax
                data-test="typography"
                data-handle="typography"
            >
                <span>Typography</span>
                
            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="../../docs/icons.html"
                data-role="tree-link"
                
                data-pjax
                data-test="icons"
                data-handle="icons"
            >
                <span>Icons</span>
                
            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="../../docs/logos.html"
                data-role="tree-link"
                
                data-pjax
                data-test="logos"
                data-handle="logos"
            >
                <span>Logos</span>
                
            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="../../docs/standards.html"
                data-role="tree-link"
                
                data-pjax
                data-test="standards"
                data-handle="standards"
            >
                <span>Standards</span>
                
            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="../../docs/sassdoc.html"
                data-role="tree-link"
                
                data-pjax
                data-test="sassdoc"
                data-handle="sassdoc"
            >
                <span>Sassdoc</span>
                
            </a>
        </li>
        
    
        
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-docs-collection-sass-tools">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-docs-collection-sass-tools-items">
                    Sass Tools
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-docs-collection-sass-tools-items">
                
                
                
                
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="../../docs/sass-tools/colour.html"
                data-role="tree-link"
                
                data-pjax
                data-test="colour"
                data-handle="colour"
            >
                <span>colour</span>
                
            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="../../docs/sass-tools/components.html"
                data-role="tree-link"
                
                data-pjax
                data-test="components"
                data-handle="components"
            >
                <span>components</span>
                
            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="../../docs/sass-tools/undefined.html"
                data-role="tree-link"
                
                data-pjax
                data-test="undefined"
                data-handle="undefined"
            >
                <span>include-media</span>
                
            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="../../docs/sass-tools/utilities.html"
                data-role="tree-link"
                
                data-pjax
                data-test="utilities"
                data-handle="utilities"
            >
                <span>utilities</span>
                
            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    

    </ul>
</div>

</div>


    
        

    
    
    <div class="Navigation-group">
        
<div class="Tree" data-behaviour="tree" id="tree-components">
    <div class="Tree-header">
        <h3 class="Tree-title">components</h3>

        <button type="button" data-behaviour="collapse-tree" class="Tree-collapse" title="Collapse tree" aria-label="Collapse tree" hidden>
            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m9 11c-.6 0-1 .4-1 1s.4 1 1 1h6c.6 0 1-.4 1-1s-.4-1-1-1z"/><path d="m19 21h-14c-1.1 0-2-.9-2-2v-14c0-1.1.9-2 2-2h14c1.1 0 2 .9 2 2v14c0 1.1-.9 2-2 2zm-14-16v14h14v-14z"/></svg>

        </button>
    </div>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./accordion.html"
                data-role="tree-link"
                 data-tags="[&quot;js&quot;]"
                data-pjax
                data-test="accordion"
                data-handle="accordion"
            >
                <span>Accordion</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-audioplayer">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-audioplayer-items">
                    Audioplayer
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-audioplayer-items">
                
                
                
                
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./audioplayer--default.html"
                data-role="tree-link"
                
                data-pjax
                data-test="audioplayer--default"
                data-handle="audioplayer--default"
            >
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./audioplayer--no-img.html"
                data-role="tree-link"
                
                data-pjax
                data-test="audioplayer--no-img"
                data-handle="audioplayer--no-img"
            >
                <span>No Img</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./button.html"
                data-role="tree-link"
                
                data-pjax
                data-test="button"
                data-handle="button"
            >
                <span>Button</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-card">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-card-items">
                    Card
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-card-items">
                
                
                
                
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./card--default.html"
                data-role="tree-link"
                
                data-pjax
                data-test="card--default"
                data-handle="card--default"
            >
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./card--list-view.html"
                data-role="tree-link"
                
                data-pjax
                data-test="card--list-view"
                data-handle="card--list-view"
            >
                <span>List View</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    
        
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-forms">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-forms-items">
                    Forms
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-forms-items">
                
                
                
                
    
        
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-choice">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-choice-items">
                    Choice
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-choice-items">
                
                
                
                
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./choice--default.html"
                data-role="tree-link"
                
                data-pjax
                data-test="choice--default"
                data-handle="choice--default"
            >
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./choice--inline.html"
                data-role="tree-link"
                
                data-pjax
                data-test="choice--inline"
                data-handle="choice--inline"
            >
                <span>Inline</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./form.html"
                data-role="tree-link"
                
                data-pjax
                data-test="form"
                data-handle="form"
            >
                <span>Form</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./formfield.html"
                data-role="tree-link"
                
                data-pjax
                data-test="formfield"
                data-handle="formfield"
            >
                <span>Formfield</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./select.html"
                data-role="tree-link"
                
                data-pjax
                data-test="select"
                data-handle="select"
            >
                <span>Select</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./textarea.html"
                data-role="tree-link"
                
                data-pjax
                data-test="textarea"
                data-handle="textarea"
            >
                <span>Textarea</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./textinput.html"
                data-role="tree-link"
                
                data-pjax
                data-test="textinput"
                data-handle="textinput"
            >
                <span>Textinput</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./illuminate.html"
                data-role="tree-link"
                 data-tags="[&quot;js&quot;]"
                data-pjax
                data-test="illuminate"
                data-handle="illuminate"
            >
                <span>Illuminate</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./lists.html"
                data-role="tree-link"
                
                data-pjax
                data-test="lists"
                data-handle="lists"
            >
                <span>Lists</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./loading.html"
                data-role="tree-link"
                
                data-pjax
                data-test="loading"
                data-handle="loading"
            >
                <span>Loading</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-page">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-page-items">
                    Page
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-page-items">
                
                
                
                
    
        
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-masthead">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-masthead-items">
                    Masthead
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-masthead-items">
                
                
                
                
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./masthead--smg.html"
                data-role="tree-link"
                
                data-pjax
                data-test="masthead--smg"
                data-handle="masthead--smg"
            >
                <span>Smg</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./masthead--scm.html"
                data-role="tree-link"
                
                data-pjax
                data-test="masthead--scm"
                data-handle="masthead--scm"
            >
                <span>Scm</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./masthead--nrm.html"
                data-role="tree-link"
                
                data-pjax
                data-test="masthead--nrm"
                data-handle="masthead--nrm"
            >
                <span>Nrm</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./masthead--sim.html"
                data-role="tree-link"
                
                data-pjax
                data-test="masthead--sim"
                data-handle="masthead--sim"
            >
                <span>Sim</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./masthead--nsmm.html"
                data-role="tree-link"
                
                data-pjax
                data-test="masthead--nsmm"
                data-handle="masthead--nsmm"
            >
                <span>Nsmm</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./masthead--loco.html"
                data-role="tree-link"
                
                data-pjax
                data-test="masthead--loco"
                data-handle="masthead--loco"
            >
                <span>Loco</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./masthead--ncc.html"
                data-role="tree-link"
                
                data-pjax
                data-test="masthead--ncc"
                data-handle="masthead--ncc"
            >
                <span>Ncc</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./masthead--sip.html"
                data-role="tree-link"
                
                data-pjax
                data-test="masthead--sip"
                data-handle="masthead--sip"
            >
                <span>Sip</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    
        
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-menu">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-menu-items">
                    Menu
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-menu-items">
                
                
                
                
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./menu--default.html"
                data-role="tree-link"
                
                data-pjax
                data-test="menu--default"
                data-handle="menu--default"
            >
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./menu--blog.html"
                data-role="tree-link"
                
                data-pjax
                data-test="menu--blog"
                data-handle="menu--blog"
            >
                <span>Blog</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./menu--sitenav.html"
                data-role="tree-link"
                
                data-pjax
                data-test="menu--sitenav"
                data-handle="menu--sitenav"
            >
                <span>Sitenav</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./sitenav.html"
                data-role="tree-link"
                
                data-pjax
                data-test="sitenav"
                data-handle="sitenav"
            >
                <span>Sitenav</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-grid">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-grid-items">
                    Grid
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-grid-items">
                
                
                
                
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./grid--default.html"
                data-role="tree-link"
                
                data-pjax
                data-test="grid--default"
                data-handle="grid--default"
            >
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./grid--page.html"
                data-role="tree-link"
                
                data-pjax
                data-test="grid--page"
                data-handle="grid--page"
            >
                <span>Page</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./logo-panel.html"
                data-role="tree-link"
                
                data-pjax
                data-test="logo-panel"
                data-handle="logo-panel"
            >
                <span>Logo Panel</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./searchmenu.html"
                data-role="tree-link"
                
                data-pjax
                data-test="searchmenu"
                data-handle="searchmenu"
            >
                <span>Searchmenu</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./textstyles.html"
                data-role="tree-link"
                
                data-pjax
                data-test="textstyles"
                data-handle="textstyles"
            >
                <span>Textstyles</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    
        
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-pagination">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-pagination-items">
                    Pagination
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-pagination-items">
                
                
                
                
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./pagination--default.html"
                data-role="tree-link"
                
                data-pjax
                data-test="pagination--default"
                data-handle="pagination--default"
            >
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./pagination--short.html"
                data-role="tree-link"
                
                data-pjax
                data-test="pagination--short"
                data-handle="pagination--short"
            >
                <span>Short</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./pagination--last-page.html"
                data-role="tree-link"
                
                data-pjax
                data-test="pagination--last-page"
                data-handle="pagination--last-page"
            >
                <span>Last Page</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./pagination--wordpress.html"
                data-role="tree-link"
                
                data-pjax
                data-test="pagination--wordpress"
                data-handle="pagination--wordpress"
            >
                <span>Wordpress</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./panel.html"
                data-role="tree-link"
                
                data-pjax
                data-test="panel"
                data-handle="panel"
            >
                <span>Panel</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./utilities.html"
                data-role="tree-link"
                
                data-pjax
                data-test="utilities"
                data-handle="utilities"
            >
                <span>Utilities</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

    </ul>
</div>

    </div>
    


    
    </div>

    
</nav>

        </div>
    </div>
</div>




<script src="../../themes/mandelbrot/js/mandelbrot.js?cachebust=1.10.3"></script>



</body>
</html>
