

$breakpoints: (
  tiny: 320px,
  phone: 375px,
  small: 580px, // point of single column layout. Numiko use 580 but too tight here?
  medium: 768px,
  // desktop: 1024px,
  large: 1152px
);

$between-min: map-get($breakpoints, tiny);
$between-max: map-get($breakpoints, large);
