<div class="o-container">
  Generic container
  <div class="o-grid o-grid--4-col">
    <div class="o-grid__item">
      Grid item
    </div>
    <div class="o-grid__item">
      Grid item
    </div>
    <div class="o-grid__item">
      Grid item
    </div>
    <div class="o-grid__item">
      Grid item
    </div>
    <div class="o-grid__item">
      Grid item
    </div>
    <div class="o-grid__item">
      Grid item
    </div>
    <div class="o-grid__item">
      Grid item
    </div>
    <div class="o-grid__item">
      Grid item
    </div>
  </div>
</div>