{{#each fonts }}
<p style="font-weight:{{ weight }};font-style:{{ style }};font-size: 2em;">SMG Sans {{ name }}: AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz 1234567890!@£$%^&*()</p>
{{/each}}
