<div class="Examplegrid Examplegrid--flex">
{{#each logos }}
  <div class="Examplegrid__item " style="padding: 2rem; flex-basis: calc({{width}}px + 4rem)">
    <svg style="max-width: 100%; height: auto;"  width="{{ this.width }}" height="236">
      <use xlink:href="/assets/logos/sprite.symbol.svg#{{ @key }}" />
    </svg>
  </div>
{{/each}}
</div>
