

<!-- Start: @illuminate--default -->
<h1 class="js-illuminate">ILLUMINATED TEXT</h1>
<!-- End: @illuminate--default -->

<!-- Start: @illuminate--custom-selector -->
<h1 class="custom-class">Using a custom selector</h1>
<!-- End: @illuminate--custom-selector -->

<!-- Start: @illuminate--wrapping-text- -->
<h1 class="js-illuminate">So much text that it wraps onto two lines or maybe <br/> includes line-breaks</h1> <script>document.addEventListener('DOMContentLoaded', function(event) {smgwds.illuminate();smgwds.illuminate({selector: '.custom-class'})})</script>
<!-- End: @illuminate--wrapping-text- -->

