

<ul class="c-menu__list c-menu--site">
  <li class="c-menu__item"><a href="https://www.sciencemuseumgroup.org.uk/" >A single link</a></li>
  <li class="c-menu__item c-menu__item--has-children" aria-haspopup="true">
    <a href="https://www.sciencemuseumgroup.org.uk/">Another link</a>
    <button aria-expanded="false" class="c-menu__toggle">
      <span class="screen-readers">Expand child
        menu</span>
    </button>
    <ul class="c-menu__submenu" aria-expanded="false">
      <li class="c-menu__item"><a href="https://www.sciencemuseumgroup.org.uk/">A child link with a long title that wraps</a></li>
      <li class="c-menu__item"><a href="https://www.sciencemuseumgroup.org.uk/">Another child link</a></li>
      <li class="c-menu__item"><a href="https://www.sciencemuseumgroup.org.uk/">Another child link</a></li>
    </ul>
  </li>
  <li class="c-menu__item"><a href="https://www.sciencemuseumgroup.org.uk/" >A single link</a></li>
</ul>

