<main class="o-main o-container">
  <div class="o-grid">
    <article class="o-grid__article o-grid__item o-textstyles">
      <p>A typical post page layout, using an article with 2/3rds width, and an sidebar with 1/3 . this keeps paras to a reasonable wline width</p>
    </article>
    <aside class="o-grid__sidebar o-grid__item">
      {{> @panel }}
      {{> @panel }}
    </aside>
  </div>
</main>