{{#each accordions }}
  <details class="c-accordion">
    <summary>{{ this.title }}</summary>
    <div class="c-accordion__content o-textstyles">
      {{{ this.content }}}
    </div>
  </details>
{{/each}}
