<button class="c-btn {{class}} c-btn--{{theme}} {{#if disabled}}c-btn--disabled{{/if}}">
  {{label}}
  {{#if icon}}<span class="u-icon">
    <svg>
      <use xlink:href="/assets/icons/sprite.symbol.svg#{{icon}}" />
      </svg>
  {{/if}}
</button>
