//  HTML tags
//  but should be treated as immutably as objects,
//  and after we have used normalize, there probably isn't much to do.

@include normalize;

// Global box-sizing method
*,
*:after,
*:before {
  box-sizing: border-box;
  word-wrap: break-word;
}

p {
  font-size: rem(18);
  font-weight: 300;
}

button {
  border: 0;
  appearance: none;
}

iframe,
img {
  max-width: 100%;
  border: 0;
}

img {
  height: auto;
}

figure {
  margin: 0;
}

a {
  color: inherit;

  &:visited {
    color: inherit;
  }

  &:hover {
    text-decoration: none;
  }
}

svg {
  fill: currentColor;
}

code {
  text-transform: initial; //in case used inside SMG elements that like to be upper
}