<div class="o-dl--tabular">
    <dl class="o-dl">
        <dt>Definition term</dt>
        <dd>Definition description</dd>
    </dl>
    <dl class="o-dl">
        <dt>Definition term</dt>
        <dd>Definition description</dd>
    </dl>
    <dl class="o-dl">
        <dt>Definition term</dt>
        <dd>Definition description</dd>
    </dl>
</div>

<dl class="o-dl">
    <dt>Definition term</dt>
    <dd>Definition description</dd>
</dl>
<dl class="o-dl">
    <dt>Definition term</dt>
    <dd>Definition description</dd>
</dl>
<dl class="o-dl">
    <dt>Definition term</dt>
    <dd>Definition description</dd>
</dl>

<dl class="o-dl--inline">
    <dt>Definition term</dt>
    <dd>Definition description</dd>
</dl>
<dl class="o-dl--inline">
    <dt>Definition term</dt>
    <dd>Definition description</dd>
</dl>
<dl class="o-dl--inline">
    <dt>Definition term</dt>
    <dd>Definition description</dd>
</dl>
