<div class="c-formfield">
  <label class="c-formfield__label">{{label}}</label>
  {{ render (concat '@' fieldtype) fieldContext merge=true }}
  {{#if description}}<div class="c-formfield__description">{{description}}</div>{{/if}}
  {{#if error}}<div class="c-formfield__error">{{error}}</div>{{/if}}
</div>
