<header class="c-nav-site">
  <div class="o-flex-container">
    <h1 class="c-nav-site__title"><a href="#"">{{title}}</a></h1>
    <div class=" c-nav-site__right c-menu">
        <nav class="c-menu__nav" aria-expanded="false">
          {{render '@menu--sitenav' (contextData '@sitenav') merge=true}}
        </nav>
        {{ render '@searchmenu' }}
  </div>
  </div>
</header>
