<div class="c-panel">
  {{{html}}}
</div>
<div class="c-panel c-panel--lighter">
  a subsequent lighter panel
</div>
<div class="c-panel c-panel--lighter">
  a subsequent lighter lighter panel
</div>
