.Document {
  // padding: 1.5rem 2rem;
  //
  // @include mq($until: navCollapse) {
  //     padding: 1.25rem 1rem;
  // }
}

.Document-header {
  // display: flex;
  // width: 100%;
  // margin-bottom: 1.5rem;
  // border-bottom: 1px solid $color-frame-border;
  // padding-bottom: 0.5rem;
  //
  // .Status {
  //     @include margin-inline(start, auto);
  // }
  margin: -1.5rem -2rem 1.5rem -2rem; // opposite of .Document padding
  @include sm-gradient($c-teal $c-blue $c-purple);
  @include sm-gradient-animated;
  border-bottom: none;
  width: calc(100% + 4rem);
  padding: 4rem 2rem 1rem;
}

.Document-title {
  // @include font(title);
  @include type-h2;
  text-transform: uppercase;
  color: contrasting-text-color($c-blue);
}
