.Prose {
  font-size: inherit;
  max-width: 48em;

  h2:first-child {
    margin-top: 0;
  }
}

.o-textstyles {
  code,
  code pre {
    background: grey(5);
  }
  code pre {
    margin: 1rem 0;
    padding: 0.25rem;
    overflow: auto;
  }
}
