.Tree-title {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: (1 / 24) + em;
}

.Tree-collectionLabel {
  color: white;

  span::before {
    width: 0.5rem;
    top: 0.4rem;
  }

  &:hover {
    color: white;
    background-color: grey(90);
  }
}

.Tree-depth-2 {
  > h4 {
    font-weight: bold;
  }
}

.Tree-entityLink {
  color: white !important;

  &:hover {
    color: white;
    background-color: grey(90);
  }

  .is-current & {
    color: white;
    background-color: grey(95);
  }
}
