.Frame-panel--sidebar {
  background-color: grey(85);

  // scrollbar styles moved from core: only apply to this frame

  &::-webkit-scrollbar {
    height: 0.125rem;
    width: 0.125rem;
  }

  &::-webkit-scrollbar-button {
    height: 0;
    width: 0;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba($color-text, 0.1);
    border: 0 none transparent;
    border-radius: 0;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba($color-text, 0.2);
  }

  &::-webkit-scrollbar-thumb:active {
    background: rgba($color-text, 0.3);
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    border: 0 none transparent;
    border-radius: 0;
  }

  &::-webkit-scrollbar-track:hover {
    background: transparent;
  }

  &::-webkit-scrollbar-track:active {
    background: transparent;
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}
