// $font-family-monospace: Hack, Consolas, Monaco, "Andale Mono", monospace;
$font-family-sans-serif: SMGSans, Arial, sans-serif;

$color-link: $c-blue;
$color-text: #414141;
$color-heading: #414141;

// $color-background: #fff;
$color-background-offset: grey(05);

// $color-ui-hover: rgba($color-text, 0.05);
// $color-ui-active: rgba($color-text, 0.075);

$color-header-background: #000;
// $color-header-content: #fff;

// $color-frame-border: rgba($color-text, 0.25);

$color-sidebar-heading: white;

$width-sidebar: 240px;
$handle-size: 0.625rem;

$mq-breakpoints: (
  navCollapse: 500px,
  small: 450px,
  medium: 600px,
  large: 800px,
);

html {
  font-family: $font-family-sans-serif;
}
