.Tree-title {
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: (1 / 24) + em;
  color: white;
}

.Tree-collectionLabel {
  color: white;

  // span::before {
  //   width: 0.5rem;
  //   top: 0.4rem;
  // }

  // &:hover {
  //   color: white;
  //   background-color: grey(90);
  // }
}

.Tree-depth-2 {
  > h4 {
    font-weight: bold;
  }
}

.Tree-entityLink {
  color: white !important;

  &:hover {
    color: white;
    background-color: grey(90);
  }

  .is-current & {
    color: white;
    background-color: grey(95);
  }
}

.Tree-collectionLabel::before {
  filter: #{"invert()"};
  opacity: 0.66;
}

.Tree-collapse {
  color: grey(20);
}

.Navigation-panel {
  border-inline-end: none;
  border-right: none;
}
.Navigation-panel--variants {
  background: grey(80);
}

.Search .Search-input {
  background-color: transparent;
  color: white;
  border-color: grey(50);
  border-radius: 2rem;
  &:hover {
    border-color: grey(40);
  }
}
