<p>
  Single responsibility helper classes.
</p>

<a class="u-skip-link" href="#content">Skip to content</a>
<!-- Then, just before or on main content: -->
<a name="content" tabindex="-1"></a>

<span class="u-visually-hidden">This text is only shown to screen readers</span>

<div class="u-show-for-small-only">
  This text is only shown for screens beneath the 'small' breakpoint.
</div>

<div class="u-hide-for-small-only">
  This text is <i>hidden</i> for screens beneath the 'small' breakpoint.
</div>