{{> preview/header}}
  <div class="o-main o-container">
      <div class="o-grid o-grid--{{ _target.context.griditem }}">
        <div class="o-grid__item">
    
          {{{ yield }}}
    
        </div>
      </div>
  </div>

{{> preview/footer}}