<div class="c-accordion">
  <h3 class="c-accordion__title"><button class="c-accordion__tab | js-accordion-tab" id="tab-1" aria-expanded="false" aria-controls="tab-content-1">Prohibited use</button></h3>
  <div class="c-accordion__content o-textstyles" id="tab-content-1" aria-hidden="true" aria-labelledby="tab-1">
    <p>You agree to use the Websites only for lawful purposes and in a considerate and responsible way that does not infringe the rights of, restrict or inhibit anyone else’s use and enjoyment of the Websites.</p>
    <p>You agree not to use the Websites:</p>
    <ul>
      <li>for any purpose that is against the law;</li>
      <li>in any way that causes interruption or damage to the online services or renders them impaired or less efficient;</li>
      <li>for collecting data about other users;</li>
    </ul>
  </div>
  
  <h3 class="c-accordion__title">
    <button class="c-accordion__tab | js-accordion-tab" id="tab-2" aria-expanded="false" aria-controls="tab-content-2">Intellectual property</button>
  </h3>
  <div class="c-accordion__content o-textstyles" id="tab-content-2" aria-hidden="true" aria-labelledby="tab-2">
    <p>All copyright, trade marks, design rights, patents and other intellectual property rights (registered or unregistered) in and on the Websites are owned by the Science Museum Group or are included with the permission of the owner of the rights as specified wherever possible.</p>
    <p>Our Websites may contain links to other third party websites that are not owned or controlled by the Science Museum Group. These links are provided for your convenience of access. If you use these links you will leave the Websites and visit any linked site at your own risk. The Science Museum Group is not responsible for any content, products or services available on any other website. Such links should not be interpreted as endorsement by the Science Museum Group of those linked websites and the Science Museum Group shall not be liable for any loss or damage that may arise from your use of them.</p>
  </div>
</div>