<header class="c-masthead">
  <div class="o-container">
    <a href="{{link}}" class="c-masthead__logo">
      <svg viewBox="0 0 388 236" width="388" height="236" preserveAspectRatio="xMinYMid meet">
        <use xlink:href="{{path '/assets/logos/sprite.symbol.svg'}}#smg" fill="#fff"></use>
      </svg>
    </a>
  </div>
</header>
