////
/// @group main
/// imports
////

@charset 'utf-8';

// import helper functions and settings, should not output any css
@import "lib";

// The base-ics
@import "base/tags";
@import "base/utilities";

// Then all objects, alphabetical
@import "objects/grid";
@import "objects/list";
@import "objects/main";
@import "objects/section";
@import "objects/textstyles";
// @import "objects/wordpress"; // native wp class output. move?

// Then all components, alphabetical
@import "components/accordion";
@import "components/audioplayer";
@import "components/button";
// @include button();
@include button($theme: "blue"); // set a default colour
@import "components/card";
// @import "components/carousel";
// @import "components/category";
// @import "components/collection";
// @import "components/comments";
// @import "components/filter";
// @import "components/footersection";
// @import "components/forms";
// @import "components/gallery";
// @import "components/hero";
// @import "components/info-block";
@import "components/loading";
@import "components/logo-panel";
@import "components/masthead";
// @import "components/mediaplayer";
// @import "components/menu";
@import "components/pagination";
@include pagination();
@include pagination(
  $base-selector: ".c-pagination",
  $page-selector: ".page-numbers",
  $prev-selector: ".prev",
  $next-selector: ".next"
);
@import "components/panel";
// @import "components/post";
// @import "components/searchmenu";
// @import "components/searchresult";
// @import "components/smartphoto";
// @import "components/smg-map";
// @import "components/tags";

// reference:
// BEMIT naming:  https://csswizardry.com/2015/03/more-transparent-ui-code-with-namespaces/
