

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link media="all" rel="stylesheet" href="../../css/main.css">
  <title>Preview Layout</title>
</head>

<body class="t-btn--xgreen"
  >
<div class="o-main o-container">

  <div class="c-audioplayer">
    <div class="c-audioplayer__thumb">
        <button class="c-audioplayer__button" aria-label="Play audio">
            <img class="" src="https://smgco-oralhistories.s3-eu-west-1.amazonaws.com/Jack+Cuzick/Image+Jack+Cuzick+29_5_18.JPG" alt="Track title" />        </button>
    </div>
    <div class="c-audioplayer__main">
        <h4 class="c-audioplayer__title">
            Track title
        </h4>
        <p class="c-audioplayer__description">track description. Antonia Senna, One of the first few patients in this country to have robot-assisted surgery at St Mary’s Hospital, London</p>
        <audio src="https://smgco-oralhistories.s3-eu-west-1.amazonaws.com/Helgi+Johannsson/Oral+History+with+Helgi+Johannsson+on+21.05.18+Part+2+mp3.mp3" controls />
    </div>
</div>

<script>document.addEventListener('DOMContentLoaded', function (event) {
        smgwds.audioplayer();
        console.log(smgwds);
    })</script>


</div>

<script src="../../js/fractal.js"></script>
</body>

</html>

