

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link media="all" rel="stylesheet" href="../../css/main.css">
  <title>Preview Layout</title>
</head>

<body class="t-btn--xgreen"
  >
<div class="o-main o-container">

  <p><!-- Start: @button--default -->
<button class="c-btn ">Gizza button!</button>
<!-- End: @button--default -->
</p>
<p><!-- Start: @button--themed -->
<button class="c-btn c-btn--purple">Purple button!</button>
<!-- End: @button--themed -->
</p>
<p><!-- Start: @button--themed2 -->
<button class="c-btn c-btn--orange">Orange button with icon!<span class="u-icon"><svg>
            <use xlink:href="../../assets/icons/sprite.symbol.svg#arrow-right-bold" /></svg></button>
<!-- End: @button--themed2 -->
</p>
<p><!-- Start: @button--themed3 -->
<button class="c-btn c-btn--yellow">yellow icon!<span class="u-icon"><svg>
            <use xlink:href="../../assets/icons/sprite.symbol.svg#video" /></svg></button>
<!-- End: @button--themed3 -->
</p>
<p><!-- Start: @button--primary -->
<button class="c-btn c-btn--primary">Primary button!</button>
<!-- End: @button--primary -->
</p>
<p><!-- Start: @button--disabled -->
<button class="c-btn c-btn--disabled">Disabled button</button>
<!-- End: @button--disabled -->
</p>

</div>

<script src="../../js/fractal.js"></script>
</body>

</html>

