

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link media="all" rel="stylesheet" href="../../css/main.css">
  <title>Preview Layout</title>
</head>

<body class="t-btn--xgreen"
  >
<div class="o-main o-container">

  <div class="c-choices ">
  <div class="c-choice">
    <input type="checkbox" id="choice0" class="c-checkbox" name="">
    <label for="choice0">The choice thing is useful for when there is a long label, so long the text might possibly wrap.</label>
  </div>
  <div class="c-choice">
    <input type="radio" id="choice1" class="c-radio" name="radiogroupname">
    <label for="choice1">It can contain radios or checkboxes</label>
  </div>
  <div class="c-choice">
    <input type="radio" id="choice2" class="c-radio" name="radiogroupname">
    <label for="choice2">It can contain radios or checkboxes</label>
  </div>
</div>


</div>

<script src="../../js/fractal.js"></script>
</body>

</html>

