

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link media="all" rel="stylesheet" href="../../css/main.css">
  <title>Preview Layout</title>
</head>

<body class="t-btn--xgreen"
  >
<div class="o-main o-container">

  <div class="c-formfield">
  <label class="c-formfield__label">Field label</label>
  <input type="text" value="optional passed context" class="c-textinput">

  
  <div class="c-formfield__error">That&#x27;s not an acceptable value</div>
</div>


</div>

<script src="../../js/fractal.js"></script>
</body>

</html>

