

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link media="all" rel="stylesheet" href="../../css/main.css">
  <title>Preview Layout</title>
</head>

<body class="t-btn--xgreen"
  >
<div class="o-main o-container">

  <h1 class="js-illuminate">So much text that it wraps onto two lines or maybe <br/> includes line-breaks</h1> <script>document.addEventListener('DOMContentLoaded', function(event) {smgwds.illuminate();smgwds.illuminate({selector: '.custom-class'})})</script>


</div>

<script src="../../js/fractal.js"></script>
</body>

</html>

