

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link media="all" rel="stylesheet" href="../../css/main.css">
  <title>Preview Layout</title>
</head>

<body class="t-btn--xgreen"
  >

<footer class="c-logo-panel" role="banner">
  <div class="o-container">
    <h4 class="c-logo-panel__title">The Science Museum Group</h4>
    <div class="c-logo-panel__items">
      <a href="https://www.sciencemuseum.org.uk" class="c-logo-panel__item">
        <div class="c-logo-panel__text">Science Museum</div>
        <svg aria-hidden="true" width="398" height="236" viewBox="0 0 398 154"
          class="c-logo--scm" preserveAspectRatio="xMinYMin meet">
          <use xlink:href="../../assets/logos/sprite.symbol.svg#scm"></use>
        </svg>
      </a>
      <a href="http://www.railwaymuseum.org.uk" class="c-logo-panel__item">
        <div class="c-logo-panel__text">National Railway Museum</div>
        <svg aria-hidden="true" width="379" height="236" viewBox="0 0 379 154"
          class="c-logo--nrm" preserveAspectRatio="xMinYMin meet">
          <use xlink:href="../../assets/logos/sprite.symbol.svg#nrm"></use>
        </svg>
      </a>
      <a href="https://www.scienceandindustrymuseum.org.uk" class="c-logo-panel__item">
        <div class="c-logo-panel__text">Science and Industry Museum</div>
        <svg aria-hidden="true" width="448" height="236" viewBox="0 0 448 236"
          class="c-logo--sim" preserveAspectRatio="xMinYMin meet">
          <use xlink:href="../../assets/logos/sprite.symbol.svg#sim"></use>
        </svg>
      </a>
      <a href="https://www.scienceandmediamuseum.org.uk" class="c-logo-panel__item">
        <div class="c-logo-panel__text">National Science and Media Museum</div>
        <svg aria-hidden="true" width="448" height="236" viewBox="0 0 448 236"
          class="c-logo--nsmm" preserveAspectRatio="xMinYMin meet">
          <use xlink:href="../../assets/logos/sprite.symbol.svg#nsmm"></use>
        </svg>
      </a>
      <a href="https://www.locomotion.org.uk/" class="c-logo-panel__item">
        <div class="c-logo-panel__text">Locomotion</div>
        <svg aria-hidden="true" width="544" height="236" viewBox="0 0 544 70"
          class="c-logo--loco" preserveAspectRatio="xMinYMin meet">
          <use xlink:href="../../assets/logos/sprite.symbol.svg#loco"></use>
        </svg>
      </a>
      <a href="https://hirethescienceinnovationpark.com/" class="c-logo-panel__item">
        <div class="c-logo-panel__text">Science and Innovation Park</div>
        <svg aria-hidden="true" width="532" height="236" viewBox="0 0 532 236"
          class="c-logo--sip" preserveAspectRatio="xMinYMin meet">
          <use xlink:href="../../assets/logos/sprite.symbol.svg#sip"></use>
        </svg>
      </a>
    </div>
  </div>
</footer>


<script src="../../js/fractal.js"></script>
</body>

</html>

