

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link media="all" rel="stylesheet" href="../../css/main.css">
  <title>Preview Layout</title>
</head>

<body class="t-btn--xgreen"
  >
<div class="o-main o-container">

  <ul class="c-menu__list c-menu--global">
  <li class="c-menu__item"><a href="https://www.sciencemuseumgroup.org.uk/" >About us</a></li>
  <li class="c-menu__item"><a href="https://collection.sciencemuseumgroup.org.uk/" aria-current="true" >Collections</a></li>
  <li class="c-menu__item"><a href="https://www.sciencemuseumgroup.org.uk/" >Learning</a></li>
  <li class="c-menu__item c-menu__item--has-children" aria-haspopup="true">
    <a href="#">Visit us</a>
    <button aria-expanded="false" class="c-menu__toggle">
      <span class="screen-readers">Expand child
        menu</span>
    </button>
    <ul class="c-menu__submenu" aria-expanded="false">
      <li class="c-menu__item"><a href="http://www.sciencemuseum.org.uk">Science Museum</a></li>
      <li class="c-menu__item"><a href="https://www.scienceandmediamuseum.org.uk">National Science and Media Museum</a></li>
      <li class="c-menu__item"><a href="https://www.scienceandindustrymuseum.org.uk">Science and Industry Museum</a></li>
      <li class="c-menu__item"><a href="http://www.railwaymuseum.org.uk">National Railway Museum</a></li>
      <li class="c-menu__item"><a href="https://www.locomotion.org.uk/">Locomotion</a></li>
    </ul>
  </li>
</ul>


</div>

<script src="../../js/fractal.js"></script>
</body>

</html>

