

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link media="all" rel="stylesheet" href="../../css/main.css">
  <title>Preview Layout</title>
</head>

<body class="t-btn--xgreen"
  >
<div class="o-main o-container">

  <ul class="c-menu__list c-menu--global">
  <li class="c-menu__item"><a href="https://www.sciencemuseumgroup.org.uk/" >A blog link</a></li>
  <li class="c-menu__item"><a href="https://www.sciencemuseumgroup.org.uk/" >Another blog link</a></li>
</ul>


</div>

<script src="../../js/fractal.js"></script>
</body>

</html>

