

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link media="all" rel="stylesheet" href="../../css/main.css">
  <title>Preview Layout</title>
</head>

<body class="t-btn--xgreen"
  >
<div class="o-main o-container">

  <div class="c-pagination">
  <nav class="c-pagination__links" aria-label="Pagination">
    <span aria-current="page" class="c-pagination__page"><span class="u-visually-hidden">You're on page</span>
      1</span>
    <a class="c-pagination__page" href="#2">2</a>
    <a class="c-pagination__page" href="#3">3</a>
    <a class="c-pagination__page" href="#4">4</a>
    <a class="c-pagination__page" href="#5">5</a>
    <a class="c-pagination__page" href="#6">6</a>
    <a class="c-pagination__page" href="#7">7</a>
    <a class="c-pagination__page" href="#8">8</a>
    <span class="c-pagination__page c-pagination__ellipsis"></span>
    <a class="c-pagination__page" href="#19">19</a>
    <a class="c-pagination__page--next c-pagination__page" href="">Next<span
        class="u-icon"><svg>
          <use xlink:href="../../assets/icons/sprite.symbol.svg#arrow-right" /></svg></span></a>
  </nav>
</div>


</div>

<script src="../../js/fractal.js"></script>
</body>

</html>

