

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link media="all" rel="stylesheet" href="../../css/main.css">
  <title>Preview Layout</title>
</head>

<body class="t-btn--xgreen"
  >
<div class="o-main o-container">

  <div class="c-pagination">
  <nav class="c-pagination__links" aria-label="Pagination">
    <a class="c-pagination__page c-pagination__page--prev" href=""><span class="u-icon"><svg>
          <use xlink:href="../../assets/icons/sprite.symbol.svg#arrow-left" /></svg></span>Previous</a>
    <a class="c-pagination__page" href="#1">1</a>
    <a class="c-pagination__page" href="#2">2</a>
    <a class="c-pagination__page" href="#3">3</a>
    <span aria-current="page" class="c-pagination__page"><span class="u-visually-hidden">You're on page</span>
      4</span>
  </nav>
</div>


</div>

<script src="../../js/fractal.js"></script>
</body>

</html>

