

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link media="all" rel="stylesheet" href="../../css/main.css">
  <title>Preview Layout</title>
</head>

<body class="t-btn--xgreen"
  >
<div class="o-main o-container">

  <select class="c-select">
  <option value="optval1" >Option one</option>
  <option value="optval2" selected>Option two</option>
  <option value="optval3" >Option three</option>
  <option value="optval4" >Option four</option>
</select>


</div>

<script src="../../js/fractal.js"></script>
</body>

</html>

