

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link media="all" rel="stylesheet" href="../../css/main.css">
  <title>Preview Layout</title>
</head>

<body class="t-btn--xgreen"
  >
<div class="o-main o-container">

  <p>
  Single responsibility helper classes.
</p>

<a class="u-skip-link" href="#content">Skip to content</a>
<!-- Then, just before or on main content: -->
<a name="content" tabindex="-1"></a>

<span class="u-visually-hidden">This text is only shown to screen readers</span>

<div class="u-show-for-small-only">
  This text is only shown for screens beneath the 'small' breakpoint.
</div>
<div class="u-hide-for-small-only">
  This text is <i>hidden</i> for screens beneath the 'small' breakpoint.
</div>

<h4>Aspect ratio embed: (16 x 9 default)</h4>
<div class="u-responsive-embed">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/9HvG6ZlpLrI" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<h4>Aspect ratio embed: (overridden inline)</h4>
<div class="u-responsive-embed" style="padding-bottom:25%">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/9HvG6ZlpLrI" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


</div>

<script src="../../js/fractal.js"></script>
</body>

</html>

